
$topicBg: #ff3e33;
$baseBg: #fff;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
div{
    display: block;
}
em, i {
	font-style: normal;
}
img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
	border: 0;
}
html, body {
	color: #333;
  font-family: 'XinGothic-SinaWeibo','Microsoft YaHei',helvetica,arial,sans-serif;
	height: 100%;
  font-size: 14px;
  line-height: 1.5;
}
input, textarea, button {
    outline: none;
}
.color-base {color: #FF3E33;}
.is-left {float: left;}
.is-right {float: right;}
.bg-fff {background-color: #fff;}
.margin-top-10 {margin-top: 10px;}
#app {height: 100%;}
.wrapper-padding {
	padding-left: 10px;
	padding-right: 10px;
}


/**
 * transition
 * horizontal 水平左右
 */
.horizontal-enter-active {
    animation: horizontal-in 2s;
}
.horizontal-leave-active {
    animation: horizontal-out 1s;
}
@keyframes horizontal-in {
  0% {
    transform: translate(375px, 0) translateZ(0);
  }
  100% {
    transform: translate(0, 0) translateZ(0);
  }
}
@keyframes horizontal-out {
  0% {
    transform: translate(0, 0) translateZ(0);
  }
  100% {
    transform: translate(-375px, 0) translateZ(0);
  }
}


.slidedown-enter-active {
    animation: slidedown-in 1s;
}
.slidedown-leave-active {
    animation: slidedown-out 1s;
}
@keyframes slidedown-in {
  0% {
    transform: translate(0, -180px) translateZ(0);
  }
  100% {
    transform: translate(0, 0) translateZ(0);
  }
}
@keyframes slidedown-out {
  0% {
    transform: translate(0, 0) translateZ(0);
  }
  100% {
    transform: translate(0, -180px) translateZ(0);
  }
}

.submit-btn {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 20px;
    button {
        background: #fff;
        border-radius: 5px;
        border: 1px solid #ff3e33;
        color: #ff3e33;
    }
}
.eyes {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 100%;
    background: url(../../static/assets/icon/icon-closeeye.png) no-repeat center;
    background-size: 100%;
}
.clearfix{
    clear:both;
}

.transition{
  transition:transform 1s;
  -webkit-transition:-webkit-transform 1s; /* Safari and Chrome */
}
.clear:after { clear: both; content: ''; height: 0; visibility: hidden; display: block; font-style: 0 }
